<% include partials/header %>

<div class="container">
<div class="jumbotron" style="padding: 24px 56px">   
    <h2>Узлы компании ЮЛ-ком</h2>
    <a class="btn btn-primary btn-lg" href="/nodes/new">Добавить узел</a>
</div>
<% data.forEach(function(item){ %>
<div class="cont">
	<div class="row show-grid">
	  <div class="col-sm-12 block-main">
		Узел: <%- item.name %>
		<a class="btn-noclass" style="right: 160px;" href="/details/<%= item.node_id %>"><span class="glyphicon glyphicon-minus-sign"></span></a>
		<a class="btn-noclass" style="right: 100px;" href="/edit/<%= item.node_id %>"><span class="glyphicon glyphicon-pencil"></span> Изм.</a>
		<form action="/delete/<%= item.node_id %>" method="POST"><button style="right: 10px;" class="btn-noclass"><span class=" glyphicon glyphicon-trash"></span> Удалить</button></form>
		<div class="row">
		  <div class="col-12 col-sm-4 cln">Город: <%= item.city %></div>
		  <div class="col-12 col-sm-8 cln">Адрес: <%= item.address %></div>
		  <div class="col-12 col-sm-4 cln">Дата вкл.: <%= item.date %></div>
		</div>
	  </div>
	  <div class="col-sm-12 block-details hid">
		Оборудование:
		<div class="row">
		    <div class="col-12 col-sm-6 cln">IP: <%= item.equip.ip %></div>
		    <div class="col-12 col-sm-6 cln">Наименование: <%= item.equip.name%></div>
		</div>
		<div class="row">
		  <div class="col-6 col-xs-6 cln">GW: <%= item.equip.gw %></div>
		  <div class="col-6 col-xs-6 cln">DNS1: <%= item.equip.dns1 %></div>
		  <div class="col-6 col-xs-6 cln">Mask: <%= item.equip.mask %></div>
		  <div class="col-6 col-xs-6 cln">DNS2: <%= item.equip.dns2 %></div>
		</div>
	    Примечания:
	    <div class="row cln"><textarea disabled><%= item.descr %></textarea></div>
	  </div>    
	</div>
</div>
<% }); %>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>
    var details = $(".block-details");
    var main = $(".block-main");
    var btnTxt = $(".text");
    
    $(".cln").on("click", function(event){
        event.stopPropagation();
    });
    
    $("a").on("click", function(event){
        event.stopPropagation();
    });
    
    $("button").on("click", function(event){
        event.stopPropagation();
        //event.preventDefault();
    });
    
    $(main).on("click", function() {
        var ind = $(main).index(this);
        $(details[ind]).toggleClass("hid");
    })
    
    $(details).on("click", function(){
        var ind = $(details).index(this);
        $(this).toggleClass("hid");
    });
</script>
<% include partials/footer %>