<% include partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Узлы компании ЮЛ-ком</h1>
        <a class="btn btn-primary btn-lg" href="/nodes/new">Добавить новый узел</a>
    </div>
</header>

    <table class="tbl">
        <thead>
            <tr>
                <td>Название узла</td>
                <td colspan="3">Адрес узла</td>
            </tr>
        </thead>
        <% data.forEach(function(item){ %>
            <tr class="inf">
                <td colspan="1"><%- item.name %></td>
                <td colspan="2"><%- item.address %></td>
                <td colspan="1"><a href="/edit/<%= item.node_id %>"><span class="glyphicon glyphicon-edit"></span><span class="text"></span> </a></td>
            </tr>
            <tr class="hidden details">
                <td colspan="1">Название компании: <%- item.contacts.company %></td>
                <td colspan="1">ФИО контакта: <%- item.contacts.full_name %></td>
                <td colspan="1">Телефон: <%- item.contacts.t_number %></td>
            </tr>
        <% })%>
    </table>
    
</div>

<script>
    var details = $(".details");
    var info = $(".inf");
    var btnTxt = $(".text");
    
    $("a").on("click", function(event){
        event.stopPropagation();
    });
    
    $(info).on("click", function() {
        var ind = $(info).index(this);
        $(details[ind]).toggleClass("hidden");
        $(this).toggleClass("borderOn");
    })
    
    $(details).on("click", function(){
        var ind = $(details).index(this);
        $(this).toggleClass("hidden");
        $(info[ind]).toggleClass("borderOn");
    });
</script>
<% include partials/footer %>